 @import "macchiato.css";
*
 {

	border: none;
	border-radius: 6px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto Bold, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
	background: shade(alpha(@mantle, 0.9), 1.0);
    border-bottom: shade(alpha(@base, 0.9), 1.0);
    color: @rosewater;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 15px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

workspaces {
    border-radius: 15px 6px 6px 15px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @rosewater;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 1px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @maroon;
    border-radius: 5px;
    border: none;

}

#workspaces button.focused {
    background-color: @surface2;
    box-shadow: inset 0 -3px @pink;
    border-radius: 5px;
    border: none;
}

#workspaces button.urgent {
    background-color: shade(alpha(@red, 0.7), 0.8);
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd
#gamemode
 {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
 .modules-left > widget:first-child > #workspaces { 
    margin-left: 0;   
} 

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @surface0;
    color: @rosewater;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @green;
    color: #4c4f69;
}

#memory {
    background-color: @lavender;
    color: #4c4f69;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @lavender;
    color: #4c4f69;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @peach;
    color: #4c4f69;
}

#pulseaudio.muted {
    background-color: @peach;
    color: #4c4f69;
}

#custom-media {
    background-color: @red;
    color: #4c4f69;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @green;
    color: #4c4f69;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @peach;
    color: #4c4f69;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @blue;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @blue;
}

#idle_inhibitor {
    background-color: @surface0;
    color: @rosewater;
}

#idle_inhibitor.activated {
    background-color: @lavender;
    color: #4c4f69;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: @mauve;
    color: #4c4f69;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

.custom-spotify {
    padding: 0 10px;
    background-color: @green;
    color: #4c4f69;
}

#gamemode {
    background-color: @surface1;
    color: @rosewater;

}

#gamemode.running {
    background-color: #ca9ee6;
    padding: 0 5px;
    margin: 0 4px;
    color: #1e66f5;

}

#keyboard-state {
    background: @mauve;
    color: #4c4f69;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
#custom-separator {
  color: rgba(67, 255, 100, 0);
  margin: 0px 30px;
}

#custom-separator2 {
  color: rgba(67, 255, 100, 0);
  padding: 0 1px;
  font-size: 1px;
  margin: 0px 1px 0px 3px;
}

#custom-separator3 {
  color: rgba(67, 255, 100, 0);
  padding: 0 1px;
  font-size: 1px;
  margin: 0px 3px 0px 1px;
}





#custom-power {
    background-color: @mauve;
    color: @base;
    padding: 0 15px;
    border-radius: 6px 15px 15px 6px;

}

