window {
  /*background-color: rgba (0, 0, 0, 0.8);*/
  background: #181926;
  opacity: 0.90;
	border-radius: 50px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (36, 39, 58, 0.9)
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 10px
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #494d64;
	opacity: 0.90
}

button {
	/*padding-left: 4px;
	padding-right: 4px;*/
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #f5bde6;
  font-size: 12px
}

button:hover {
	background-color: rgba (147, 154, 183, 0.15);
	border-radius: 10px;
}

button:focus {
	box-shadow: 0 0 2px;
}
